/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* My CSS */

:root {
    --color1: #AFC2D5;
    --color2: #457b9d;
    --color3: #a8dadc;
    --color4: #f1faee;
    --color5: #e63946;
    --colortext1: white;
    --colortext2: black;
    --colorbg: white;
    --transtime: 200ms
}

.darktheme {
    --color1: #CCC9DC;
    --color2: #0C1821;
    --color3: #1B2A41;
    --color4: #324A5F;
    --color5: #DF2935;
    --colortext1: black;
    --colortext2: white;
    --colorbg: #000000;
}

body {
    background: var(--colorbg);
    color: var(--colortext2);

    transition: background 1000ms ease-in-out, color 1000ms ease-in-out;
}

.mybutton {
    background-color: var(--color3);
    color: var(--colortext2);
}

.input {
    background-color: var(--colorbg);
    color: var(--colortext2);
    border: none;
    transition: inherit;
    transition: background 1000ms ease-in-out, color 1000ms ease-in-out;
}

.text-chonk {
    background-color: inherit;
    font-size: 1.5rem;
    font-weight: 300;
}

.text-chonker {
    background-color: inherit;
    font-size: 2.0rem;
    font-weight: 300;
}

.hyperlink {
    color: inherit;
    text-decoration: none;
    transition: background-color var(--transtime) ease-in-out, color var(--transtime) ease-in-out;
}

.hyperlink:hover {
    background-color: var(--color1);
    color: black;
    text-decoration: none;
    transition: background-color var(--transtime) ease-in-out, color var(--transtime) ease-in-out;
}

.calendar-day {
    background-color: inherit;
    color: var(--colortext2);
}

.calendar-day-sun {
    background-color: inherit;
    color: var(--color5);
}

.calendar-day-today {
    background-color: var(--color3);
}

.calendar-day-busy {
    background-color: var(--color4);
}

.navigation {
    background-color: var(--color2);
    color: var(--colortext1);
    transition: background 1000ms ease-in-out, color 1000ms ease-in-out;
}

.headerbar {
    background-color: var(--color3);
    color: var(--colortext2);
    transition: background 1000ms ease-in-out, color 1000ms ease-in-out;
}